.container {
  display: flex;
  flex-direction: column;
  border: 3px solid #fb4b4b;
  border-radius: 5px;
  width: fit-content;
  margin: auto;

  .row {
    display: flex;
    width: fit-content;

    .cell {
      border: 1px solid gray;
      width: 30px;
      height: 30px;

      &.marked {
        background-color: #fb4b4b;
      }
      
    }
  }
}

.frozen {
  background-color: rgb(247, 5, 5);
}
.game-over {
  font-size: 24px;
  color: red;
  text-align: center;
  margin: 20px;
}